body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.login-view .form-control {
  margin-bottom: 10px; }

.user-results {
  margin-top: 10px; }

.user-input-form {
  width: 330px;
  background: linear-gradient(white, #D3D8E8);
  padding-top: 16px;
  padding: 15px;
  margin: auto;
  border-radius: 4px; }

.login-view h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 600; }
